/* whitespace preline(s)
linebreak js */

body {

}

.background-image {
    background-image: url('st.anton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div {
    background-color: rgb(82, 43, 225);
    border-radius: 1rem;
    width: 20rem;
    height: 15rem;
    position: absolute;
}

p {
    margin: 0;
    padding: 1rem;
}

.buttons {
    padding: 1rem;
    display: flex;
    gap: 2rem;
}


